.vide {
  text-align: center;
}
.btn-add {
  padding: 15px 30px !important;
  border-radius: 0 !important;
  max-width: 100% !important;
  min-width: 100% !important;
}
.header-top {
  background: #3f51b5;
  margin-bottom: 40px;
}
.logo-header {
  margin: 0;
  padding: 25px;
  color: #fff;
}